@charset "UTF-8";

@namespace "http://www.w3.org/1999/xhtml";

body {
    width: 95%;
    margin: auto;
    padding: 0;
    background-color: #ccccff;
}

ol > li {
    padding-left: 10px;
    font-weight: bold;
    font-size: large;
}

ol > li > p {
    font-weight: normal;
    font-size: initial;
}

div.code-block {
    width: 75%;
    background-color: #c0c0c0;
    padding: 5px;
    color: #000;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.7em;
    border: 1px solid #000;
}
